# Logs
# logs
# *.log
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*
# pnpm-debug.log*
# lerna-debug.log*

# node_modules
# dist
# dist-ssr
# *.local

# # Editor directories and files
# .vscode/*
# !.vscode/extensions.json
# .idea
# .DS_Store
# *.suo
# *.ntvs*
# *.njsproj
# *.sln
# *.sw?

node_modules
# self
.eslintcache
lib
docs/.temp/
# 先注释掉，这些都是用工具函数自动生成的，不用上传，如果用该模板记得打开
# docs/.vitepress/routerlink/sidebar.ts
# docs/.vitepress/cache
# src/router.ts
# src/components/entry.ts
docs/.vitepress/dist
dist/
public
.DS_Store
*.log
.vscode
src/preview/feed.tsx
coverage
